<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>UP商业价值分析</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="shortcut icon" type="image/x-icon" href="../static/img/favicon.png">
        <!-- Place favicon.ico in the root directory -->

		<!-- CSS here -->
        <link rel="stylesheet" href="../static/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/css/animate.min.css">
        <link rel="stylesheet" href="../static/css/magnific-popup.css">
        <link rel="stylesheet" href="../static/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
        <link rel="stylesheet" href="../static/css/jquery-ui.min.css">
        <link rel="stylesheet" href="../static/css/flaticon.css">
        <link rel="stylesheet" href="../static/css/odometer.css">
        <link rel="stylesheet" href="../static/css/aos.css">
        <link rel="stylesheet" href="../static/css/slick.css">
        <link rel="stylesheet" href="../static/css/default.css">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="../static/css/responsive.css">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <script src = "../static/js/walden.js"></script>
        <!--引入charts.js-->
        <script src="../static/js/echarts.js"></script>
        <script src="../static/js/walden.js"></script>
        <script src="../static/js/echarts-wordcloud.min.js"></script>
        <script type="text/javascript" src="../static/js/jquery-1.7.2.min.js"></script>
    </head>
    <body>


        <!-- preloader  -->
        <div id="preloader">
            <div id="ctn-preloader" class="ctn-preloader">
                <div class="animation-preloader">
                    <div class="spinner"></div>
                    <div class="txt-loading">
                        <span data-text-preloader="S" class="letters-loading">
                            S
                        </span>
                        <span data-text-preloader="C" class="letters-loading">
                            C
                        </span>
                        <span data-text-preloader="U" class="letters-loading">
                            U
                        </span>
                        <span data-text-preloader="." class="letters-loading">
                            .
                        </span>
                        <span data-text-preloader="C" class="letters-loading">
                            C
                        </span>
                        <span data-text-preloader="S" class="letters-loading">
                            S
                        </span>
                    </div>
                </div>
                <div class="loader">
                    <div class="row">
                        <div class="col-3 loader-section section-left">
                            <div class="bg"></div>
                        </div>
                        <div class="col-3 loader-section section-left">
                            <div class="bg"></div>
                        </div>
                        <div class="col-3 loader-section section-right">
                            <div class="bg"></div>
                        </div>
                        <div class="col-3 loader-section section-right">
                            <div class="bg"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- preloader end -->


		<!-- Scroll-top -->
        <button class="scroll-top scroll-to-target" data-target="html">
            <i class="fas fa-angle-up"></i>
        </button>
        <!-- Scroll-top-end-->

            <div id="sticky-header" class="main-header menu-area transparent-header">
                <div class="container-fluid container-full">
                    <div class="row">
                        <div class="col-12">
                            <div class="mobile-nav-toggler"><i class="fas fa-bars"></i></div>
                            <div class="menu-wrap">
                                <nav class="menu-nav show">
                                    <div class="logo">
                                        <a href="index.html">
                                            <img src="../static/img/logo/logo.png" class="logo-sticky-none" alt="Logo">
                                            <img src="../static/img/logo/logo_2.png" class="logo-sticky-block" alt="Logo">
                                        </a>
                                    </div>
                                    <div class="navbar-wrap main-menu d-none d-lg-flex">
                                        <ul class="navigation">
                                            <li class="active current dropdown"><a href="#">主页</a>
                                            </li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                            <!-- Mobile Menu  -->
                            <div class="mobile-menu">
                                <div class="menu-backdrop"></div>
                                <div class="close-btn"><i class="fas fa-times"></i></div>

                                <nav class="menu-box">
                                    <div class="nav-logo"><a href="index.html"><img src="../static/img/logo/logo.png" alt="" title=""></a></div>
                                    <div class="menu-outer">
                                        <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
                                    </div>
                                    <div class="social-links">
                                        <ul class="clearfix">
                                            <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                            <li><a href="#"><span class="fab fa-facebook-square"></span></a></li>
                                            <li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
                                            <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                                            <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                            <!-- End Mobile Menu -->
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- header-area-end -->

        <!-- main-area -->
        <main>

            <!-- banner-area -->
            <section class="banner-area banner-bg">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-20">
                            <div class="banner-content text-center">
                                <h2 class="wow fadeInUp" data-wow-delay=".3s">BILIBILI<span>百大UP主</span>商业价值</h2>
                                <p class="wow fadeInUp" data-wow-delay=".6s">COMMERCIAL VALUE OF FIRST 100 UPS IN BILIBILI</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="banner-shape wow zoomInDown" data-wow-delay="1.2s"><img src="../static/img/slider/banner_shape.png" alt=""></div>
            </section>
            <!-- banner-area-end -->

            <!-- courses-area -->
            <section class="courses-area fix pt-110">
                <div class="courses-overlay-text">四川大学</div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-7 col-lg-9">
                            <div class="section-title text-center mb-70">
                                <h2>UP主<span>商业价值</span>总榜<span>.</span></h2>
                                <p>PLOT OF COMMERCIAL VALUE OF ALL UPS</p>
                            </div>
                        </div>
                    </div>
                    <div class="row no-gutters courses-masonry">
                        <div class="col-lg-4 col-sm-6 grid-item grid-sizer">
                            <div class="courses-item mb-20">
                                <div class="courses-thumb">
                                    <img src="../static/img/courses/courses_img01.png" alt="">
                                </div>
                                <div class="courses-content">
                                    <a href="#" class="popup-video courses-preview"><i class="flaticon-play-arrow"></i>商业价值</a>
                                    <h4><a href="#"> </a></h4>
                                    <span>COMMERCIAL VALUE</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-sm-9 grid-item grid-sizer">
                            <div class="courses-item mb-20">
                                <div class="courses-thumb">
                                    <!此处插入up主商业价值折线图>
                                    <div id = "Line" style="width: 800px; height: 600px;" ></div>
                                    <script src="../static/js/LineAll.js"></script>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="courses-shape"><img src="../static/img/courses/courses_shape01.png" alt=""></div>
                <div class="courses-shape courses-shape-2"><img src="../static/img/courses/courses_shape02.png" alt=""></div>
            </section>
            <!-- courses-area-end -->

            <!-- ingredients-area -->
            <section class="ingredients-area pt-110 pb-90">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10">
                            <div class="section-title">
                                <span class="sub-title"></span>
                                <h2>BILIBILI<span>百大UP主</span>分区情况</h2>
                                <p>THE NUMBER OF UPS IN EACH SECTION</p>
                            </div>
                        </div>
                        <div class="col-lg-10">
                            <div class="ingredients-progress">
                                <div class="product-thumb">
                                    <!此处插入up主分区情况漏斗图>
                                    <div id="Funnel" style="width: 900px; height: 600px;" ></div>
                                    <script src="../static/js/FunnelPlot.js"></script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- ingredients-area-end  -->

            <!-- features-area -->
            <section class="features-area gray-bg pt-110 pb-90">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-7 col-lg-9">
                            <div class="section-title text-center mb-70">
                                <h2>百大UP主<span>作品质量</span>对比图<span>.</span></h2>
                                <p>PLOT THE QUALITY OF UPS' WORKS</p>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-15 col-md-15">
                            <div class="features-item mb-30">
                                <div class="features-inner">
                                    <div class="features-icon">
                                        <i class="flaticon-study"></i>
                                    </div>
                                    <div class="features-content">
                                        <!此处插入up主作品质量对比图>
                                        <h3>总作品价值及商业价值</h3>
                                        <p>综合参考作品的质量、数量、及发布时间得出的总作品质量对比图</p>
                                    </div>
                                    <div id = "Bar" style="width: 1200px; height: 600px;"></div>
                                    <script src="../static/js/BusinessBar.js"></script>
                                </div>
                            </div>
                        </div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-15 col-md-15">
                            <div class="features-item mb-30">
                                <div class="features-inner">
                                    <div class="features-content">
                                        <p>各UP主各项指标雷达图</p>
                                    </div>
                                    <div id="Radar" style="width: 400px; height: 400px;"></div>
                                    <script src="../static/js/RadarAll.js"></script>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-15 col-md-15">
                            <div class="features-item mb-30">
                                <div class="features-inner">

                                    <div class="features-content">
                                        <p>各UP主相关的词云统计图</p>
                                    </div>
                                    <div id="WordsCloud" style="width: 400px; height: 400px;"></div>
                                    <script src="../static/js/WordsCloud.js"></script>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-15 col-md-15">
                            <div class="features-item mb-30">
                                <div class="features-inner">

                                    <div class="features-content">
                                        <h3>单个UP视频投放分区</h3>
                                    </div>
                                    <div id="Pie" style="width: 900px; height: 400px;"></div>
                                    <script src="../static/js/PartPie.js"></script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
            <!-- features-area-end -->




        <!-- footer-area -->
        <footer>
            <div class="footer-top black-bg pt-95 pb-45">
                <div class="container-fluid container-full">
                    <div class="row justify-content-between">
                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="footer-widget mb-50">
                                <div class="fw-title mb-25">
                                    <h5>关于我们</h5>
                                </div>
                                <div class="fw-text">
                                    <p>大数据第二组，课题：B站2019年度百大UP视频数据分析平台</p>
                                    <div class="footer-contact-list mt-20">
                                        <ul>
                                            <li>四川成都双流区四川大学江安校区</li>
                                            <li>1-577-245-658742</li>
                                            <li><a href="cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="c4aba2a2ada7a184a1bca5a9b4a8a1eaa7aba9">[email&#160;protected]</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-4 col-md-6">
                            <div class="footer-widget mb-50">
                                <div class="fw-title mb-25">
                                    <h5>快速链接</h5>
                                </div>
                                <div class="fw-links">
                                    <ul>
                                        <li><a href="#">首页</a></li>
                                        <li><a href="#">联系我们</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="footer-widget mb-50">
                                <div class="fw-title mb-25">
                                    <h5>Thank You Watch</h5>
                                </div>
                                <div class="fw-tweet-post">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer-area-end -->





		<!-- JS here -->
        <script src="../static/js/vendor/jquery-3.5.0.min.js"></script>
        <script src="../static/js/popper.min.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>
        <script src="../static/js/isotope.pkgd.min.js"></script>
        <script src="../static/js/imagesloaded.pkgd.min.js"></script>
        <script src="../static/js/jquery.magnific-popup.min.js"></script>
        <script src="../static/js/owl.carousel.min.js"></script>
        <script src="../static/js/jquery.odometer.min.js"></script>
        <script src="../static/js/jquery-ui.min.js"></script>
        <script src="../static/js/jquery.appear.js"></script>
        <script src="../static/js/slick.min.js"></script>
        <script src="../static/js/ajax-form.js"></script>
        <script src="../static/js/wow.min.js"></script>
        <script src="../static/js/aos.js"></script>
        <script src="../static/js/plugins.js"></script>
        <script src="../static/js/main.js"></script>
    </body>
</html>
