<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<script src = "../static/js/walden.js"></script>
<!--引入charts.js-->
<script src="../static/js/echarts.js"></script>
<script src="../static/js/walden.js"></script>
<script src="../static/js/echarts-wordcloud.min.js"></script>
<script type="text/javascript" src="../static/js/jquery-1.7.2.min.js"></script>
<style>
   body{text-align:center}
   div{
	    display: inline-block;
	   }
</style>
</head>

<body>
  
    <div id = "Bar" style="width: 1400px; height: 700px;"></div>
    <div id = "Radar" style="width: 700px; height: 700px; display: inline-block;"></div>
    <div id = "Pie" style="width: 700px; height: 700px; display: inline-block;"></div>
    <div id = "WordsCloud" style="width: 900px; height: 600px;"></div>
    <div id = "Line" style="width: 1400px; height: 700px;"></div>
    <div id = "Funnel" style="width: 1400px; height: 1000px;"></div>
  
</body>


<script src="../static/js/BusinessBar.js"></script>
<script src="../static/js/RadarAll.js"></script>
<script src="../static/js/PartPie.js"></script>
<script src="../static/js/WordsCloud.js"></script>
<script src="../static/js/LineAll.js"></script>
<script src="../static/js/FunnelPlot.js"></script>

</html>
